.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
body{
    margin: 0;
}

section{
    background: #19191B;
    height: 95vh;
    width: 100vw;
}
.lefthead{
    width:10vw ;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8vw;
}
.imghead{
    width: 40px;
    height: 40px;
}
.titlehead{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #FFF;
    margin-left: 8px;
}

nav {
    height: 15vh;
    display: flex;
}
p{
    color:  rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 40px;
}
.righthead>.buttonmain{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
}

